# 除了源文件存放文件夹，另外三步生成的头文件都不保留
gen_ctypes_file/*/*.h
gen_ctypes_file/_1_original/*.h
# 格式化用的二进制文件
gen_ctypes_file/tools/clang_format/clang-format.exe

# 排除SDK的动态链接库
UnifyNetSDK/dahua/Libs/win64/*
UnifyNetSDK/haikang/lib/win/*
# 但保留动态链接库的存放路径，git不支持保留空文件夹，需要.keep空文件以表占位
!.keep
*.pyc

# setuptools
build/
dist/
UnifyNetSDK.egg-info/
.eggs/


#
*.bmp
*.jpeg
*.jpg
*.mp4
*.log


# 功能测试账号配置文件
*_testLoginConfig.py


# vizviewer测试结果文件
/result.json
